##############
### Common ###
##############

# modules
**/node_modules
# turbo
**/.turbo
# next.js
**/.next
**/.swc
# nest.js
**/dist
# docusaurus
**/.docusaurus
# jest
**/coverage
# editor
.vscode
# misc
**/.DS_Store
**/*.pem
**/*.log*
# mongo
.mongo-volume
# turbo prune
out
# typechain
**/typechain-types
# firebase
.firebase
# vercel
.vercel

### gitignore specifics ###
.config**.yaml